* {
  box-sizing: border-box;
}

body {
  background-image: url("./ic.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}

.header {
  display: inline;
}

.fa-refresh {
  float: right;
}

#newtodo {
  width: 94%;
  height: 40px;
  margin-bottom: 20px;
}

p {
  display: inline;
}

.check {
  text-decoration: line-through;
  display: inline;
}

i {
  cursor: pointer;
}

.fa-pencil-square,
.fa-trash {
  float: right;
  padding-left: 10px;
}

#reset {
  margin: 2px 2px 5px 4px;
  bottom: 0;
  position: absolute;
  width: 97%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.notified {
  height: 40px;
  width: 300px;
  background-color: red;
  align-items: center;
  display: flex;
  justify-content: center;
  color: white;
  margin: auto;
}
